In [4]:
# PANDAS RE-INDEXING
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [5]:
#Creating a new series
my_series = Series([1,2,3,4,5],index = ['A','B','C','D','E'])
my_series

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [6]:
# If we want to reindex
new_series = my_series.reindex(['A','B','C','D','E','F','G'])
new_series

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    NaN
G    NaN
dtype: float64

In [7]:
#If we want to fill the values in the reindex
series = new_series.reindex(['A','B','C','D','E','F','G','H'],fill_value = 0)
series

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    NaN
G    NaN
H    0.0
dtype: float64

In [8]:
# Particular methonds for filling the value
series1 = Series(['USA','India','Germany','China'],index = [2,4,6,8])
series1

2        USA
4      India
6    Germany
8      China
dtype: object

In [9]:
ranger = range(15)
ranger

range(0, 15)

In [10]:
series1.reindex(ranger,method = 'ffill')

0         NaN
1         NaN
2         USA
3         USA
4       India
5       India
6     Germany
7     Germany
8       China
9       China
10      China
11      China
12      China
13      China
14      China
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','D','E','F'],columns=['c1','c2','c3','c4','c5'])
dframe

         c1        c2        c3        c4        c5
A  0.166482 -0.181401  0.974700 -0.635718 -0.826990
B  0.947461  1.017612 -0.627972  0.843479  0.314468
D -2.733230  0.731657  1.737573 -0.357133  1.907395
E -0.823740  0.332050  1.625972 -1.333965 -0.540016
F  0.976329  0.185811  1.033373  1.580809  0.295099

In [12]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

         c1        c2        c3        c4        c5
A  0.166482 -0.181401  0.974700 -0.635718 -0.826990
B  0.947461  1.017612 -0.627972  0.843479  0.314468
C       NaN       NaN       NaN       NaN       NaN
D -2.733230  0.731657  1.737573 -0.357133  1.907395
E -0.823740  0.332050  1.625972 -1.333965 -0.540016
F  0.976329  0.185811  1.033373  1.580809  0.295099

In [17]:
new_coloumns = ['c1','c2','c3','c4','c5','c6']
dframe2.reindex(columns=new_coloumns)

         c1        c2        c3        c4        c5  c6
A  0.166482 -0.181401  0.974700 -0.635718 -0.826990 NaN
B  0.947461  1.017612 -0.627972  0.843479  0.314468 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D -2.733230  0.731657  1.737573 -0.357133  1.907395 NaN
E -0.823740  0.332050  1.625972 -1.333965 -0.540016 NaN
F  0.976329  0.185811  1.033373  1.580809  0.295099 NaN

In [18]:
column=['a','b','c','d','e'] 
index=['A','B','C','D','E'] 
#create a dataframe of random values of array 
df1 = pd.DataFrame(np.random.rand(5,5),  
           columns=column, index=index) 
colum=['e','a','b','c','d'] 
   
# create the new index for columns 
print(df1.reindex(colum, axis='columns'))

          e         a         b         c         d
A  0.948637  0.846939  0.865582  0.524248  0.120833
B  0.782545  0.853676  0.617526  0.689173  0.063891
C  0.030452  0.085740  0.945151  0.962584  0.247701
D  0.853624  0.782989  0.337135  0.857402  0.804560
E  0.261731  0.593490  0.665366  0.734662  0.140594